#event-icon{
    height: 24dp;
    margin-right: 16dp;
}

#drawer-label{
    margin-left: 16dp;
    vertical-align: middle;
}

#text-view-container{
    margin: 16dp;
}

#title-text-view{
    font-weight: Bold;
}

.text-view{
    background-color: white;
}